<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

body{
	
	
	 background-image: url("IMG-20180702-WA0009.jpg");
      background-repeat: no-repeat;
	background-size:cover;
	
    height:100%;


}

#logo{
	float:left;
	
}
h2{
	text-align:center;
	color:blue;
	
}
header, footer {
	
    padding: 1em;
    color: white;
    background-color: #97C9C9;
    clear: left;
    text-align: center;

}

h1{
text-align: right;
margin: 0;
font-size :18px;
color:#131FF1;
	
}

header{
position:left-side;	
 left: 0;
  bottom: 0;
  background-color:#97C9C9;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
  padding: 14px 103px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0868B4;
}
nav{
	width:100%;
}
.photo{
	width:40%;
	display: block;
	border-style:inset;
	border-width:small;
	border-color:blue;
    margin-left: auto;
    margin-right: auto; 
	height: 460px;
}


</style>